body {
    font-family: verdana;
    margin: 0;
    padding: 0;
    background-color: #a5a7b9;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #2b1d69;
    color: #fff;
    padding: 30px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Estilos del formulario */
  main {
    padding: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button[type="submit"] {
    background-color: #2b1d69;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #413d3d;
  }
  
  /* Estilos de los resultados */
  .resultados{
    margin-top: 30px;
  }
  
  .resultdatos {
    background-color: #37363a;
    padding: 20px;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .resultdatos h3 {
    margin-top: 0;
  }
  
  .resultdatos p {
    margin: 5px 0;
  }
  
  